# Entorno virtual
venv/
env/
.venv/
.env/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp

# Carpeta de dependencias de pip (si existiera)
pip-wheel-metadata/

# Config de editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de uvicorn o gunicorn
*.pid

# Archivos de pruebas o cobertura
htmlcov/
.coverage
coverage.xml
pytest_cache/

# Carpeta build de frontend dentro del backend (si la metieras)
dist/
build/
